In [1]:
import pandas as pd
import datetime

In [7]:
df_to_tweet = pd.read_csv('df_company_info2.csv')
df_to_tweet['twitter'] = df_to_tweet['twitter'].astype(str)
df_to_tweet = df_to_tweet[(df_to_tweet.put_value>0) & 
                           (~df_to_tweet.twitter.str.contains(' ')) & 
                         (~(df_to_tweet.twitter=='nan'))].reset_index()
df_to_tweet.columns

'''for column_name in df_to_tweet.columns:
    if column_name in any(['Unamed']) :
        drop[column_name]
        df.drop(['''

print(df_to_tweet.columns)
bad_list_jr = ['index', 'Unnamed: 0.9', 'Unnamed: 0.8', 'Unnamed: 0.7', 'Unnamed: 0.6',
       'Unnamed: 0.5', 'Unnamed: 0.4', 'Unnamed: 0.3', 'Unnamed: 0.2',
       'Unnamed: 0.1', 'Unnamed: 0','Unnamed: 0.10']
df_to_tweet.drop(bad_list_jr, axis=1, inplace=True)
df_to_tweet.sort_values('put_value').reset_index().tail()

#bad_list = ['index', 'Unnamed: 0.5', 'Unnamed: 0.4', 'Unnamed: 0.3', 'Unnamed: 0.2',
#       'Unnamed: 0.1', 'Unnamed: 0','put_value', 'hedge_funds_putting']

Index(['index', 'Unnamed: 0.10', 'Unnamed: 0.9', 'Unnamed: 0.8',
       'Unnamed: 0.7', 'Unnamed: 0.6', 'Unnamed: 0.5', 'Unnamed: 0.4',
       'Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1', 'Unnamed: 0', 'name',
       'cusip', 'twitter', 'put_value', 'hedge_funds_putting'],
      dtype='object')

,index,name,cusip,twitter,put_value,hedge_funds_putting
499,4,ISHARES TR,464288513,iSharesCanada,3.610629e+09,"['CITADEL ADVISORS LLC', 'CITADEL ADVISORS LLC']"
500,3,AMAZON COM INC,023135106,amazonnews,4.164578e+09,"['CAPITAL FUND MANAGEMENT', 'CITADEL ADVISORS ..."
501,2,MICROSOFT CORP,594918104,Microsoft365,5.508511e+09,"['CAPITAL FUND MANAGEMENT', 'CITADEL ADVISORS ..."
502,1,NVIDIA CORPORATION,67066G104,NVIDIAGeForce,1.033819e+10,"['CAPITAL FUND MANAGEMENT', 'CITADEL ADVISORS ..."
503,0,INVESCO QQQ TR,46090E103,InvescoUS,1.961553e+10,"['CITADEL ADVISORS LLC', 'CITADEL ADVISORS LLC..."

In [12]:
#df_backup = pd.read_csv('df_company_info2_backup.csv')
#df_backup.sort_values('twitter').reset_index().tail()

#bad_list = ['put_value', 'hedge_funds_putting']
#df_backup_new = df_to_tweet[['name','cusip','twitter']]#.drop(bad_list, axis=1)
#df_backup_new.tail()
#df_backup_new.to_csv('df_company_info2_backup.csv', index=False)
#df_backup_new.tail()

                            name      cusip       twitter
499                    ADEIA INC  00676P107     adeia_inc
500  ADVERUM BIOTECHNOLOGIES INC  00773U108    adverumbio
501                 AC IMMUNE SA  H00263105  AC_Immune_SA
502   AEGLEA BIOTHERAPEUTICS INC  00773J202     aegleabio
503       A K A BRANDS HLDG CORP  00152K101    aka_brands

NameError: name 'fn_puts' is not defined

In [ ]:
#Determine which stock to tweet at
#Find who's put a short on them

In [14]:
df_to_tweet.head(1)
stock_being_shorted_cusip = df_to_tweet

,name,cusip,twitter,put_value,hedge_funds_putting
0,INVESCO QQQ TR,46090E103,InvescoUS,1.961553e+10,"['CITADEL ADVISORS LLC', 'CITADEL ADVISORS LLC..."

In [15]:
#https://github.com/twitterdev/Twitter-API-v2-sample-code/blob/main/Manage-Tweets/create_tweet.py
from requests_oauthlib import OAuth1Session
import os
import json

def send_tweet(tweet_text, consumer_key_,consumer_secret_,access_token_,access_token_secret_):

    # In your terminal please set your environment variables by running the following lines of code.
    # export 'CONSUMER_KEY'='<your_consumer_key>'
    # export 'CONSUMER_SECRET'='<your_consumer_secret>'

    consumer_key = consumer_key_#os.environ.get("CONSUMER_KEY")
    consumer_secret = consumer_secret_#os.environ.get("CONSUMER_SECRET")

    # Be sure to add replace the text of the with the text you wish to Tweet. You can also add parameters to post polls, quote Tweets, Tweet with reply settings, and Tweet to Super Followers in addition to other features.
    payload = {"text": tweet_text}

    access_token = access_token_#oauth_tokens["oauth_token"]
    access_token_secret = access_token_secret#oauth_tokens["oauth_token_secret"]
    
    # Make the request
    oauth = OAuth1Session(
    consumer_key,
    client_secret=consumer_secret,
    resource_owner_key=access_token,
    resource_owner_secret=access_token_secret)
    
    # Making the request
    response = oauth.post(
        "https://api.twitter.com/2/tweets",
        json=payload,
    )

    if response.status_code != 201:
        raise Exception(
            "Request returned an error: {} {}".format(response.status_code, response.text)
        )

    print("Response code: {}".format(response.status_code))

    # Saving the response as JSON
    json_response = response.json()
    print(json.dumps(json_response, indent=4, sort_keys=True))

In [24]:
today = datetime.datetime.today().strftime('%Y-%m-%d')
def safe_to_tweet_guardrail(df_, twitter_handle_to_test):        
    print(df_[df_.most_recent_tweet_date = twitter_handle_to_test] - today).days
    if days_between > 90 &:
        return True
    else:
        return False

In [ ]:
if df_.twitter_handle_to_test in df.columns:
    print('False')
df_to_tweet['most_recent_tweet']